main {
  margin-left: 375px;

  padding: 0.5em;

  article {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; /* For accurate column width slider */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    background: lighten($light, 3%);
    border: {
      top: 0.5em solid $blue;
      bottom: 0.5em solid $blue;
    }
    padding: 1em;

    & { transition: all .25s ease; }

    h1, h2, h3, h4, h5, h6 {
      color: black;
    }

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }

    .citation {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.08);
      position: relative;
      left: -1.25em;
      width: 100%;
      background: lighten($light, 5%);
      border-top: 1px solid darken($light, 3%);
      border-bottom: 1px solid darken($light, 3%);
      padding: 1.25em;
      text-align: right;
      font-style: italic;

      a { font-size: 0.75em; }
    }
  }


}
