// Imports
@import '../node_modules/normalize-scss/sass/normalize';
@import '../node_modules/sass-toolkit/stylesheets/toolkit';
@import '../node_modules/sass-toolkit/stylesheets/toolkit/kickstart';
@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../node_modules/singularitygs/stylesheets/singularitygs';

// Setup Breakpoints
$breakpoints:
  // 'handheld'   // Mobile-first: default IS handheld
  'handheld-only' (max-width    679px), // For styles
  'narrow'        (min-width    680px),
  'medium'        (min-width    980px),
  'wide'          (min-width   1080px),
  'portrait'      (orientation portrait);

$grids: 12;
$gutters: 0;

$blue: darken(#00B4FF, 15%);
$green: #009900;
$orange: #CC8822;
$red: #CC3300;


$dark: #1f1f1f;
$low: #232323;
$med: #515151;
$high: #aaaaaa;
$light: #eeeeee;

.lato { font-family: 'Lato', sans-serif; }
.ptserif { font-family: 'PT Serif', serif; }
.crimson { font-family: 'Crimson Text', serif; }
.opensans { font-family: 'Open Sans', sans-serif; }
.lobster { font-family: 'Lobster', cursive; }

@import "body";
@import "sidebar";
@import "sample";
@import "dragdealer";
