// Imports
@import "compass/css3";
@import "breakpoint";
@import "singularitygs";

@import "normalize";
@import "toolkit";

// Setup Breakpoints
$breakpoints:
  // 'handheld'   // Mobile-first: default IS handheld
  'handheld-only' (max-width    679px), // For styles 
  'narrow'        (min-width    680px),
  'medium'        (min-width    980px),
  'wide'          (min-width   1080px),
  'portrait'      (orientation portrait);

$grids: 12;
$gutters: 0;

@import "body";
@import "sidebar";
@import "sample";
@import "dragdealer";